{% extends "base.html" %}

{% block content %}

{% if form.errors %}
<p>No es correcto</p>
{% endif %}

{% if next %}
    {% if user.is_authenticated %}
    <p>No tienes acceso a esta pagina</p>
    {% else %}
    <p>Por favor logueate para disfrutar ;)</p>
    {% endif %}
{% endif %}
<br><br><br><br>

<img src="/static/seguridad.jpg" style=border-radius: 30%;>
<br><br>
<form method="post" action="{% url 'wagtailcore_login' %}">
{% csrf_token %}

{{ form.username.label_tag }}
{{ form.username }}
{{ form.password.label_tag }}
{{ form.password }}

<input type="submit" value="login" />
<input type="hidden" name="next" value="{{ next }}" />
</form>

{% endblock %}